$font-primary: 'Inter', sans-serif;
$font-secondary: 'Red Hat Display', sans-serif;

$color-gray: #a2a5b2;
$color-gray-light: #dee1ed;
$color-gray-dark: #4b4f51;
$color-green-lighter: #758681;
$color-green-light: #415e56;
$color-green-dark: #13615f;
$color-green-darker: #035755;
$color-green-darkest: #00402e;
$color-red-light: #fa5652;
$color-red: #fb4c47;
$color-white: #fff;

$max-width: 144.2rem;
